

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: whitesmoke;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0d0d0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: goldenrod;
}
