/* General styles */
.first-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-box img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 40px;
}

.first-box h2, h3 {
  text-align: center;
  font-weight: bold;
}

.nav-links {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.box.first-box:hover .external-link-wrapper .icon {
  color: goldenrod;
}

.resume-download a {
  position: relative;
  text-decoration: none;
}

.resume-download a span {
  position: relative;
}

.resume-download a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: goldenrod;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.resume-download a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.profile-link a {
  position: relative;
  text-decoration: none;
}

.profile-link a span {
  position: relative;
}

.profile-link a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: goldenrod;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.profile-link a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.box:hover {
  border-radius: 20px;
  background-color: #2F4F4F;
}

.first-box:hover {
  border-radius: 20px;
  background-color: #2F4F4F;
}

.social-icons a {
  margin: 0 10px;
}

.resume-preview img {
  border-radius: 50px;
}

.header {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.resume-preview {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 20px;
}

.resume-download {
  margin-top: 20px;
  text-align: center;
}

.mern-preview img {
  margin-top: 20px;
}

.profile-link p {
  text-align: center;
}

.profile-link {
  text-align: center;
}

.mongo-preview img {
  margin-top: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .first-box,
  .box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
  }

  .first-box img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
  }

  .resume-preview {
    width: 100%;
    max-width: 100%;
  }
  
  .resume-download, .profile-link {
    text-align: center;
  }
  
  .social-icons {
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 5px;
  }
}
